<div class="card bg-body-secondary shadow p-3">
    <p class="display-5 card-header">Matchs en cours</p>
    <main class="card-body d-flex flex-wrap justify-content-around">
        {% if matches|length > 0 %}
        {% for match in matches %}
            <div style="min-width: 350px;" class="shadow px-0 border-1 border-black border text-center col-5 d-flex align-items-center container-fluid mb-2">
                <div style="cursor: pointer" hx-post="{{ path('app_mercure_test_tournament') }}" hx-vals='{"tournament":"{{ tournament.id }}","team1":"{{ participants[match.player1_id].name }}","team2":"{{ participants[match.player2_id].name }}"}' hx-swap="none" hx-trigger="click" class="bg-danger col-1 text-white d-flex h-100 justify-content-center align-items-center h-100 border-end border-black align-center">
                    <p class="mb-0">VS</p>
                </div>
                <div class="col-11 h-100">
                    <div class="border-bottom border-black d-flex justify-content-between align-items-center w-100 h-50">
                        <p class="flex-grow-1 mb-0">{{ participants[match.player1_id].name }}</p>
                        <button type="button"
                                data-warning-type="warning"
                                hx-confirm="L'équipe {{ participants[match.player1_id].name }} a gagné ?"
                                hx-include="#matchId{{ match.id }},#player1Id{{ match.id }},#winner1Position{{ match.id }}"
                                hx-swap="innerHTML" hx-target="#tournamentMatches" hx-trigger="click"
                                hx-post="{{ path("app_tournament_match_update",{"id":tournament.id}) }}"
                                class="float-end btn btn-success rounded-0"><i class="bi bi-check-circle"></i></button>
                    </div>
                    <div class="border-bottom border-black d-flex justify-content-between align-items-center w-100 h-50">
                        <p class="flex-grow-1 mb-0">{{ participants[match.player2_id].name }}</p>
                        <button type="button"
                                data-warning-type="warning"
                                hx-confirm="L'équipe {{ participants[match.player2_id].name }} a gagné ?"
                                hx-include="#matchId{{ match.id }},#player2Id{{ match.id }},#winner2Position{{ match.id }}"
                                hx-swap="innerHTML" hx-target="#tournamentMatches" hx-trigger="click"
                                hx-post="{{ path("app_tournament_match_update",{"id":tournament.id}) }}"
                                class="float-end btn btn-success rounded-0"><i class="bi bi-check-circle"></i></button>
                    </div>
                    <input id="matchId{{ match.id }}" type="hidden" name="match_id" value="{{ match.id }}">
                    <input id="player1Id{{ match.id }}" type="hidden" name="winner" value="{{ match.player1_id }}">
                    <input id="winner1Position{{ match.id }}" type="hidden" name="playerPosition" value="1">
                    <input id="winner2Position{{ match.id }}" type="hidden" name="playerPosition" value="2">
                    <input id="player2Id{{ match.id }}" type="hidden" name="winner" value="{{ match.player2_id }}">
                </div>
            </div>
        {% endfor %}
    </main>
    <button type="button" hx-swap="innerHTML" hx-trigger="click"
            hx-get="{{ path("app_tournament_matches",{"id":tournament.id}) }}" hx-target="#tournamentMatches"
            class="col-md-2 col-lg-1 btn btn-primary">Actualiser &nbsp;<span
                class="htmx-indicator spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button>
    {% else %}
        <div class="alert alert-warning">Aucun match en cours</div>
    {% endif %}
</div>