{% extends 'base.html.twig' %}

{% block title %}Les championats{% endblock %}

{% block body %}
    <div class="align-self-start container-fluid ">
        <h1>{{ "championship.list"|trans }}</h1>
        <table class="table table-striped text-center">
            <thead>
            <tr>
                <th>{{ "championship.name"|trans }}</th>
                <th>{{ "championship.date_start"|trans }}</th>
                <th>{{ "championship.date_end"|trans }}</th>
                <th>{{ "championship.actions"|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for championship in championships %}
                <tr>
                    <td>{{ championship.name }}</td>
                    <td>{{ championship.dateStart ? championship.dateStart|date('d/m/Y') : '' }}</td>
                    <td>{{ championship.dateEnd ? championship.dateEnd|date('d/m/y') : '' }}</td>
                    <td>
                        <div class="btn-group btn-group-sm d-flex align-items-center justify-content-center">
                            <a class="btn btn-primary"
                               href="{{ path('app_championship_show', {'id': championship.id}) }}">{{ "btn.show"|trans }}</a>
                            {% if is_granted("ROLE_ADMIN") and adminCreatedChampionship(app.user,championship)%}
                            <a class="btn btn-secondary"
                               href="{{ path('app_championship_edit', {'id': championship.id}) }}">{{ "btn.edit"|trans }}</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">{{ "championship.none"|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if is_granted("ROLE_ADMIN") %}
        <a class="btn btn-success" href="{{ path('app_championship_new') }}">{{ "btn.create"|trans }}</a>
        {% endif %}
    </div>
{% endblock %}
