{% extends 'base.html.twig' %}

{% block title %}Championship{% endblock %}

{% block body %}
 <div class="container-fluid" style="align-self: start">
     <h1>{{ championship.name }} - {{ championship.getPercentDone() }}%</h1>
     <div class="progress my-1">
         <div class="progress-bar" style="width: {{ championship.getPercentDone() }}%" role="progressbar" aria-label="Pourcentage d'avancement du championat" aria-valuenow="{{ championship.getPercentDone }}" aria-valuemin="0" aria-valuemax="100"></div>
     </div>
     <table class="table table-striped table-bordered">
         <tbody>
         <tr>
             <th>{{ "championship.name"|trans }}</th>
             <td>{{ championship.name }}</td>
         </tr>
         <tr>
             <th>{{ "championship.date_start"|trans }}</th>
             <td>{{ championship.dateStart ? championship.dateStart|date('d/m/y') : '' }}</td>
         </tr>
         <tr>
             <th>{{ "championship.date_start"|trans }}</th>
             <td>{{ championship.dateEnd ? championship.dateEnd|date('d/m/y') : '' }}</td>
         </tr>
         </tbody>
     </table>
     <details>
         <summary>Score Global</summary>
         <ul style="margin-top: 0">
             {% for player in allChampionshipPlayers %}
                 <li>{{ player.name }} - {{ player.getTotalPointsByChampionship(championship) }}</li>
             {% endfor %}
         </ul>
     </details>
     <details>
         <summary>Score par tournois</summary>
         <ul style="margin-top: 0">
             {% for tournament in allTournaments %}
                 <li>{{ tournament.name }}</li>
                 <details>
                     <summary>Score by Player</summary>
                     <ul>
                         {% for result in tournament.tournamentResults|sort((a,b) => b.points <=> a.points) %}
                             <li>{{ result.player.name }} - {{ result.points }}</li>
                         {% endfor %}
                     </ul>
                 </details>
             {% endfor %}
         </ul>
     </details>
     <div class="btn-group mt-2">
         <a class="btn btn-primary" href="{{ path('app_championship_edit', {'id': championship.id}) }}">{{ "btn.edit"|trans }}</a>
         <a class="btn btn-warning" href="{{ path('app_championship_index') }}">{{ "btn.back"|trans }}</a>
     </div>
 </div>
{% endblock %}
