{% extends 'base.html.twig' %}

{% block title %}Démarrer un tournois{% endblock %}

{% block body %}
    <section class="bg-body-secondary col-md-10 p-3 mt-2 overflow-y-auto align-self-start">
        <div {{ stimulus_controller('form-collection') }}
                data-form-collection-index-value="{{ form.teams|getMaxIndex }}"
                data-form-collection-prototype-value="{{ form_widget(form.teams.vars.prototype)|e('html_attr') }}"
                class="container-fluid gap-2"
        >
            <h1>Démarrer le tournois</h1>
            {{ form_start(form, {"id":"formTeams"}) }}
            <div {{ stimulus_target('form-collection', 'collectionContainer') }}
                    class="d-flex gap-2 justify-content-evenly flex-wrap" id="team-tournament-list">
                {% for team in form.teams %}
                    <div class="team-collection-item shadow p-3 col-md-5 col-lg-3 col-sm-10 bg-white">
                        <p class="h3 bold">Équipe </p>
                        {{ form_row(team.player1) }}
                        {{ form_row(team.player2) }}
                        {{ form_row(team.paid) }}
                        {{ form_row(team.delete) }}
                    </div>
                {% endfor %}
            </div>
            <div>
            <div class="btn-group mt-2">
                <button class="btn btn-outline-primary" type="button" {{ stimulus_action('form-collection', 'addTeamCollectionElement') }}>{{ "tournament.addTeam"|trans }}</button>
                <button type="button" hx-swap="afterbegin settle:5s" hx-target="closest form" hx-post="{{ path('app_tournament_save', {'id': tournament.id}) }}" class="btn btn-outline-success">{{ "btn.save"|trans }}</button>
            </div>
            <div class="btn-group mt-2 float-end">
                {{ form_widget(form.save) }}
                <a class="btn btn-warning" href="{{ path('app_tournament_index') }}">{{ "btn.back"|trans }}</a>
            </div>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}