{% extends 'base.html.twig' %}

{% block title %}Tournois - {{ tournament.name }} {% endblock %}

{% block body %}
 <div class="container-fluid align-self-start">
     <h1>Tournois - <a target="_blank" href="https://challonge.com/fr/{{ tournament.challongeId }}">{{ tournament.name }}</a> - {{ tournament.date ? tournament.date|date('d/m/y') : '' }} </h1>
     <div id="tournamentMatches">
         {% include 'tournament/_partial/matches.html.twig' with {"matches":matches|default([]),"participants":participants,"tournament":tournament} %}
     </div>
     {% if tournament.challongeId %}
         <iframe src="https://challonge.com/fr/{{ tournament.challongeId }}/module" width="100%" height="500" allowtransparency="true"></iframe>
     {% endif %}
     <div class="btn-group">
         <a class="btn btn-primary" href="{{ path('app_tournament_edit', {'id': tournament.id}) }}">{{ "btn.edit"|trans }}</a>
         <a class="btn btn-warning" href="{{ path('app_tournament_index') }}">{{ "btn.back"|trans }}</a>
     </div>
 </div>
{% endblock %}
