{% extends 'base.html.twig' %}

{% block title %}Tournois - {{ tournament.name }} {% endblock %}

{% block body %}
    <div id="showViewContainer" class="container-fluid align-self-start">
        <div class="d-flex align-items-center">
        <h1 class="d-inline-block">Tournois - {% if tournamentIsStarted(tournament) %}<a target="_blank"
                          href="https://challonge.com/fr/{{ tournament.challongeId }}">{{ tournament.name }}</a>
            - {% endif%} {{ tournament.date ? tournament.date|date('d/m/y') : '' }} </h1>
        {% if tournamentIsStarted(tournament) %}
            <div class="d-inline-block ms-3 form-check form-switch fs-4" >
                <input class="form-check-input" onchange="toggleRegisterNotification('{{ tournament.challongeId }}')"
                        {% if userHasSubscribed(tournament.challongeId) %} checked="checked" {% endif%} type="checkbox" role="switch" id="switchCheckDefault">
                <label class="form-check-label" for="switchCheckDefault">Reçevoir les alertes de matchs du tournois</label>
            </div>
        {% endif %}
        </div>
        {% if tournament.extraData.state is not defined and matches|length > 0 %}
            <div id="tournamentMatches" class="fade-in fade-out">
                {% include 'tournament/_partial/matches.html.twig' with {"matches":matches|default([]),"participants":participants,"tournament":tournament} %}
            </div>
        {% endif %}
        {% if tournament.challongeId %}
            <iframe src="https://challonge.com/fr/{{ tournament.challongeId }}/module" width="100%" height="500"
                    allowtransparency="true"></iframe>
        {% endif %}
        {% if tournament.extraData.state is defined %}
            <div class="accordion border-bottom-0 mb-2">
                {% include 'tournament/_partial/details.html.twig' with { "tournament":tournament } %}
            </div>
        {% endif %}
        <div class="btn-group mt-2">
            {% if is_granted("EDIT_CHAMPIONSHIP_TOURNAMENT",tournament) %}
            <a class="btn btn-primary"
               href="{{ path("app_tournament_edit", { "id": tournament.id } ) }}">{{ "btn.edit"|trans }}</a>
            {% if matches|length == 0 and tournament.extraData.state is not defined and tournamentIsStarted(tournament) %}
                <button type="button" class="btn btn-success"
                        hx-post="{{ path("app_tournament_finish",{"tournament":tournament.id}) }}">Terminer le tournois
                </button>
            {% endif %}
            {% endif %}
            <a class="btn btn-warning" href="{{ path('app_tournament_index') }}">{{ "btn.back"|trans }}</a>
        </div>
    </div>
{% endblock %}